@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #08090a;
  color: #f3f4f6;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
